<div class="container content">
    <div class="row">
      <div class="col-md-6">
        <p>Hola</p>
      </div>

      <div class="col-md-6">
        <p>Mundo</p>
      </div>

    </div>

</div>
